<template>
<div style="margin-top: 40px">
    <div>Total Items: X</div>
    <div class="red">Items con bajo stock: X</div>
</div>
</template>

<script>
export default {

}
</script>

<style>

</style>